<!DOCTYPE html>

<html lang="en">
<head>
    <style>
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }

    </style>
    <meta charset="UTF-8">
    <title>Indoor AQI</title>
</head>
<body id="b1" style="background-color:#a9e296;">
<div class='container'>
    <h2 style="text-align: center"> Indoor AQI</h2>
    <h1 id="aqi_int" style="font-size: 8em; text-align: center">22</h1>
    <h2 id="aqi_text" style="text-align: center">The air quality is good.</h2>
    <h4 style="text-align: center">Last update: 10 minutes ago</h4>
</div>
</body>

<script>
const aqi = document.getElementById("aqi_int").innerHTML

if (aqi > 300) {
    document.getElementById("b1").style.background = "#510255";
    document.getElementById("aqi_text").innerHTML = "The air quality is hazardous.";
} else if (aqi > 200) {
    document.getElementById("b1").style.background = "#ad72e4";
    document.getElementById("aqi_text").innerHTML = "The air quality is very unhealthy.";
} else if (aqi > 150) {
    document.getElementById("b1").style.background = "#b53838";
    document.getElementById("aqi_text").innerHTML = "The air quality is unhealthy.";
} else if (aqi > 100) {
    document.getElementById("b1").style.background = "#e4a772";
    document.getElementById("aqi_text").innerHTML =
    "The air quality is unhealthy for sensitive groups.";
} else if (aqi > 50) {
    document.getElementById("b1").style.background = "#e4e172";
    document.getElementById("aqi_text").innerHTML = "The air quality is moderate.";
} else if (aqi > 0) {
    document.getElementById("b1").style.background = "#a9e296";
    document.getElementById("aqi_text").innerHTML = "The air quality is good.";
};
</script>
</html>
