<!DOCTYPE html>

<html lang="en">
<head>
    <style>
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }

    </style>
    <meta charset="UTF-8">
    <title>Indoor AQI</title>
</head>
<body id="b1" style="background-color:#a9e296;">
<div class='container'>
    <h2 style="text-align: center"> Indoor AQI</h2>
    <h1 id="aqi_int" style="font-size: 8em; text-align: center">72</h1>
    <h2 id="aqi_text" style="text-align: center">The air quality is good.</h2>
    <h4 style="text-align: center">Last update: 10 minutes ago</h4>
</div>
</body>

<script src="AQI/main/aqiscript.js"></script>
</html>
